
:root{
    --header-font: 'Roboto', sans-serif;      
    --p-font:'Lato', sans-serif;
    --center-text: center;
    
    
}

.post-titles{
    font-style: italic;
    font-family: var(--header-font);
}

.post-titles:hover{
    color:#FFBF00;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--header-font);
}

h1{
    font-size:40px;  
    color:#FFBF00;
}

h2{
    font-size: 30px;     
}

p{
    text-align:left;
    font-family: var(--p-font);
    font-size:17px;
    line-height: 28px;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.center-text{
    text-align:var(--center-text);
    
}


#content{
    margin:0 15%;  
}

body {
    background-color:#ededed;
    margin:0;
    padding:0;
    
}


/* CABEÇALHO */
header h1{
    margin:0;
    padding:0;
}

header{        
    margin: auto; 
    background-color: #000000;
    background: linear-gradient(to bottom,#000,#2d2d2d);   
    display:flex;
    flex-direction:row;     
    justify-content:space-between;       
    align-items: center;      
    height:110px;         
    padding-left:15%;    
    padding-right:15%;    
}

.page-title h1{
    font-family: 'Days One', sans-serif;
}



/* NAV */

nav ul {
    margin:0;
    padding:0;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin:15px 15px;    
    border-bottom:2px solid #FFBF00;
}

nav ul li a{
    color:white;
    font-style: italic;
    text-decoration: none;
    font-style: bold;  
    text-transform: uppercase;    
    font-weight: 400;  
    font-size:15px;
}

nav ul li:last-child {
    border:none;
}

nav ul li:nth-last-child(-n + 2) {
    border:none;
}
   

nav ul li:last-child a{
    color:#FFBF00;
    font-style: normal;
    font-size:15px;    
}

nav ul li i{    
    color:#FFBF00;
    border:none;
}


ul li a {
    text-decoration: none;
    font-style: bold;
    color:black;
    font-weight:300;
}

ul li a:hover {    
    color:#d19d00;        
    font-weight: bold;
}




