body{
    background-color:#ededed;
    margin:0;
    padding:0;
}


article{
    margin:5% 15%;
    border-left:1px solid rgba(211, 211, 211, 0.5);
    border-right:1px solid rgba(211, 211, 211, 0.5);
    padding:2% 3%;
    
}

aside , footer{
    margin:5% 15%;
    padding:2% 3%;
}


header h1{
    margin:0;
    padding:0;
}

header{    
    margin-bottom: 0px; 
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 32%, rgba(42,42,42,1) 81%);
   /* display:flex;
    flex-direction:row;     
    justify-content:center;   
    align-items: center; 
   */   
    height:110px;  
}

.main{
    
}


nav ul {
    margin:0;
    padding:0;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin:15px 15px;    
    border-bottom:2px solid #FFBF00;
}

nav ul li a{
    color:white;
    font-style: italic;
     text-decoration: none;
    font-style: bold;  
    text-transform: uppercase;    
    font-weight: 400;  
}



h1{
    font-size:40px;  
    color:#FFBF00;
}

h2{
    font-size: 30px;   
    
}

.post-titles{
    font-style: italic;
}

.post-titles:hover{
    color:#FFBF00;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;    
}

.center-titles{
    text-align:center;
}

p{
    text-align:left;
    font-family: 'Lato', sans-serif;
    font-size:18px;
    line-height: 25px;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

label{
    font-family: 'Roboto', sans-serif;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.top-bilhe{
    font-size:25px;  
    background-color:black;
    color:#FFBF00;
    font-style: italic;
    padding:10px;  
    font-weight: bold;  
}

.top-bilhe:hover{
    text-decoration:underline #FFBF00;
}


tbody tr td{
    font-family: 'Slabo 27px', serif;
}

.category{
    background-color:#FFBF00;
    color:black;
    font-style:italic;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    display: inline-block;   
    padding:5px;    
}



ul li a {
    text-decoration: none;
    font-style: bold;
    color:black;
    font-weight:300;
}

ul li a:hover {    
    color:#d19d00;        
    font-weight: bold;
}

.signup a{
    font-size:30px;
    text-decoration:none;
    color:#d19d00;  
}

.newsletter h2 {
    color:white;

}

.newsletter{
    background-color: #2d3436;
    background-image: linear-gradient(to bottom right, #2d3436 10%, #000000 74%);
    border-radius:5px;
    color:white;
    font-weight: 200;
}



#destaques{
    background-image: url('https://sm.ign.com/t/ign_br/screenshot/default/os-filmes-mais-aguardados-de-2021-01_dgwk.1200.jpg');
    height:600px;
    width:80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    margin:auto;    
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);

    
}


#destaques h2{
    color:white;
    text-align: center; 
    font-size:40px;
    padding-top:35%   
}


